---
layout: default
---
<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">
      Box title
    </h3>
  </div>
  <div class="Box-body">
    Box body
  </div>
  <div class="Box-footer">
    Box footer
  </div>
</div>

<article class="Box" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="Box-header">
    <h1 class="Box-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="Box>
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <time class="State" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Date: {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class=State" datetime="{{ mdate }}" itemprop="dateModified">
          Date Modified: {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        <span class="State">Authors: 
          {% for author in page.author %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span class="Label" itemprop="name">{{ author }}</span></span>
              {%- if forloop.last == false %}, {% endif -%}
         {% endfor %}</span>
      {%- endif -%}</p>
  </header>

  <div class="Box-body" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="Box-footer" itemprop="articleFooter">
    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
